<a href="https://colab.research.google.com/github/JgonLee/python_hw/blob/main/Quiz_on_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Quiz on List  학번 : 2024274595  성명 : 이재곤

Create a list a_list, with the following elements 1, hello, [1,2,3] and True.

In [ ]:
a_list = [1, 'hello', [1, 2, 3] , True]
a_list

[1, 'hello', [1, 2, 3], True]

Find the value stored at index 1 of a_list.

In [ ]:
a_list[1]

'hello'

Retrieve the elements stored at index 1, 2 and 3 of a_list.

In [ ]:
a_list[1:4]

['hello', [1, 2, 3], True]

Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:

In [ ]:
A = [1, 'a']
B = [2, 1, 'd']
A + B

[1, 'a', 2, 1, 'd']